.heading {
  background-color: rgb(24, 30, 36);
  height: 70px;
  padding: 1px;
  margin-bottom: 40px;
}

.title {
  padding: 0px;
  font-size: 2.0em;
  color: white !important;
  text-align: center;
}

body {
  background-color: #fff;
  min-height: 100vh;
  font: normal 16px sans-serif;
}

.gallery-container h1 {
  text-align: center;
  margin-top: 70px;
  font-family: 'Droid Sans', sans-serif;
  font-weight: bold;
  color: #58595a;
}

.gallery-container p.page-description {
  text-align: center;
  margin: 30px auto;
  font-size: 18px;
  color: #85878c;
}


.tz-gallery {
padding: 40px;
}

.tz-gallery .thumbnail {
padding: 0;
margin-bottom: 0px;
border: none;
box-shadow: none;
}

.tz-gallery img {
  border-radius: 0px;
}

.tz-gallery .row > div{
  padding: 1px
}

.tz-gallery .caption{
padding: 26px 30px;
text-align: center;
}

.tz-gallery .caption h3 {
font-size: 12px;
font-weight: bold;
margin-top: 0;
color: #7b7d7d;
}

.tz-gallery .caption p {
font-size: 12px;
color: #7b7d7d;
margin: 0;
}

.tz-gallery .img-responsive {
  height: 180px !important;
  object-fit: cover;
  object-position: center;
  width: 100%;
}

.select {
  text-align: center;
  margin: auto;
  display: block
}

.folder {
  height: 180px !important;
  margin: 0;
  /*background-color: rgb(23, 24, 26);*/
  border: none;
  transition: 0.15s ease-in-out;
  text-align: center;
  /*box-shadow: 0 8px 15px rgba(0, 0, 0, 0.06);*/
}

.tz-gallery .folder-icon {
  height: 90px !important;
  padding: 0;
  object-position: center;
}

.tz-gallery .thumbnail:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 15px rgba(0,0,0,0.3) !important;
}

.tz-gallery .folder-icon:hover {
  transform: scale(1.25);
  /*box-shadow: 0 8px 15px rgba(0,0,0,0.3) !important;*/
}